@subtext_color: #d0d5da;

.episode {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-start;
	&.high {
		height: 5rem;
		.rank {
			height: 5rem;
			width: 5rem;
			font-size: 4rem;
			margin-top: 1rem;
		}
		.showing {
			font-size: 0.9rem;
		}
	}
	&.low {
		height: 3.5rem;
		font-size: 0.8rem;
		.rank {
			height: 3rem;
			width: 3.5rem;
			font-size: 2rem;
			margin-top: 0.8rem;
		}
		.showing {
			font-size: 0.7rem;
		}
	}
	.title {
		font-weight: 700;
	}
	.showing {
		text-transform: uppercase;
		color: @subtext_color;
	}
}

