@import 'inc/typography';
@import 'inc/colors';

body {
	min-height: 100vh;
	height: 100%;
	background: @background_color;
	background: linear-gradient(@background_start_color 0%, @background_end_color 100%);
	color: @text_color;
	margin: 0 0 2em 0;
	&> header {
		width: 100%;
		nav {
			display: flex;
			div {
				margin: 0 1rem;
				text-align: center;
				text-transform: uppercase;
				a {
					padding-left: 0.2rem;
				}
			}
			.home {
				margin-right: auto;
				img {
					height: 19px;
					top: 4px;
					position: relative;
					border-radius: 7px;
				}
			}
		}
	}
}

a {
	color: @text_color;
	text-decoration: none;
	&:hover {
		color: darken(@text_color, 15%);
		text-decoration: underline;
	}
}

ul {
	list-style: none;
	padding: 0;
}

main {
	margin: 1rem;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	margin-top: 2rem;
	color: @text_color;
	background: @background_start_color;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	p {
		text-align: center;
		line-height: 1.3rem;
	}
}

