/* https://color.adobe.com/Bulock-Test-color-theme-6085517/ */

@primary_color: #FF852F;
@secondary_color: #18993A;
@third_color: #FF472F;
@forth_color: #1DA08E;

@dark_color: #7D746D;
@light_color: #F9F9F9;

@text_color: @light_color;
@background_color: @primary_color;