{% extends "base.twig" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}

	<article>

	<section>
		<h3>Page Not Found!</h3>
		<p>Sorry, the link you have clicked is either broken, or the page has moved.</p>
	</section>

	</article>

{% endblock %}