<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}About Cameron Bulock{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block favicon %}
			<link rel='shortcut icon' type='image/png' href='' /> <!-- TODO: add a favicon here -->
		{% endblock %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel='stylesheet' type='text/css' media='screen' href='css/base.css' />
		{% block stylesheets %}{% endblock %}
		{% block meta_data %}{% endblock %}
		<meta name="theme-color" content=""><!-- TODO: add a color here -->
	</head>
	<body>
		<header>
			<ul>
				<li><i class="fa fa-twitter"></i><a href='https://twitter.com/cameronb'>Twitter</a></li>
				<li><i class="fa fa-linkedin-square"></i><a href='https://www.linkedin.com/in/cbulock'>Linkedin</a></li>
			</ul>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			<p>&copy;{{ 'now'|date('Y') }} Cameron Bulock</p>
			<p>cameron@bulock.com</p>
			<p>517.303.0998</p>
		</footer>

		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/lodash/lodash.min.js"></script>
		<!--<script src="/js/base.js"></script>-->

		<script type="text/javascript">

				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-126218-2']);
				_gaq.push(['_trackPageview']);

				(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();

		</script>
		{% block javascript %}{% endblock %}
	</body>
</html>