{% extends "base.twig" %}

{% block content %}

	<article>

		<header id="me">
			<img src="//www.gravatar.com/avatar/baf1ada66011a8dace4bee65cf78cb21?s=500&d=retro&r=pg" alt="Cameron headshot">
			<h1>Cameron Bulock</h1>
		</header>

		<section id="tagline">
			<h5>Father and tech guy from Lansing, MI</h5>
		</section>

		<section id="interests">
			<h2>Interests</h2>
			<ul>
				<li><a href="https://bulock.tech/">Home Automation</a></li>
				<li><a href="gadgets">Gadgets</a></li>
				<li><a href="beer">Beer</a></li>
				<li><a href="always_sunny">It's Always Sunny</a></li>
			</ul>
		</section>

	</article>

{% endblock %}

{% block homelink %}<!-- Don't need this link on the homepage -->{% endblock %}

{% block stylesheets %}
	<link rel='stylesheet' type='text/css' media='screen' href='css/home.css' />
{% endblock %}
